{%- for resource in resources -%}
resource "cloudflare_record" "{{ resource }}-A" {
  name    = "{{ resources[resource].name }}"
  ttl     = {{ resources[resource].ttl }}
  type    = "A"
  value   = "{{ resources[resource].value }}"
  zone_id = var.cloudflare_zone_id
}

{% endfor -%}