{%- for record in records -%}
resource "cloudflare_record" "{{ records[record].name.strip('.') | replace('.', '_') }}-AAAA" {
  name    = "{{ record }}"
  ttl     = {{ records[record].ttl }}
  type    = "AAAA"
  value   = "{{ records[record].value }}"
  zone_id = var.cloudflare_zone_id
}

{% endfor -%}