{%- for record in records -%}
resource "cloudflare_record" "{{ records[record].name.strip('.').replace('.', '_') }}-CNAME" {
  name    = "{{ record }}"
  ttl     = {{ records[record].ttl }}
  type    = "CNAME"
  value   = "{{ records[record].value }}"
  zone_id = var.cloudflare_zone_id
}

{% endfor -%}