variable "cloudflare_zone_id" {
  default     = "{{ cloudflare_zone_id }}"
  description = "The CloudFlare zone ID to apply changes to"
}

variable "cloudflare_zone_name" {
  default     = "{{ cloudflare_zone_name }}"
  description = "The CloudFlare zone name to apply changes to"
}
